<div class='row
flex-row
col-lg-12 col-md-12 col-xs-12 col-sm-12
middle-sm middle-xs middle-lg middle-md
'>
  <div 
    class='col-xs-2 col-lg-1 col-md-1 col-sm-1 label '
    (click)="openSnackBar()"
    [ngClass]="{'is-error active-control': requiredFormControl.hasError('required')}"
  ><span>Title</span><span [hidden]="!requiredFormControl.hasError('required')"> *</span></div>
  <div class='col-xs col-lg col-md col-sm'>
    <mat-form-field>
      <input [value]="'title'"
        #textError
        matInput 
        [formControl]="requiredFormControl"
        required
      />
    </mat-form-field>
  </div>
</div>
